.vis {
    width: 100%;
}

.vis_sbs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.vis_tabs {
    margin-bottom: var(--g-spacing-4);
    flex-shrink: 0;
}
