.vis {
    width: 100%;
}

.vis_sbs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.vis__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.vis_tabs {
    flex: 1;
}
