.select__popup {
    --select-item-padding-horizontal: 16px;

    margin-top: var(--g-spacing-1);
    max-height: 40vh;

    .g-select-list__option, .g-select-empty-placeholder {
        margin: 0;
        padding: 0 var(--select-item-padding-horizontal);
    }
}

.select__input {
    border-bottom: 1px solid var(--g-color-line-generic);
    padding: 4px var(--select-item-padding-horizontal);
}

.select__empty {
    color: var(--g-color-text-secondary);
    margin: 10px 0;
}

.select__control .g-select-control {
    /* disable animation https://github.com/gravity-ui/uikit/blob/80752145ce50d914c208b47f551b6a8577534f3d/src/components/Select/components/SelectControl/SelectControl.scss#L75 */
    /* stylelint-disable-next-line declaration-no-important */
    transition: none !important;
}
