.task-card {
    padding: var(--g-spacing-2);
}

.task-card__button-copy {
    margin-left: var(--g-spacing-1);
}

.task-card__title {
    font-size: 1.2em;
    margin: var(--g-spacing-2) 0;
}

.task-card__buttons {
    float: right;
    margin-top: var(--g-spacing-1);

    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-1);
}

