.task-report {
    margin-top: var(--g-spacing-3);
    padding-top: var(--g-spacing-2);
}

.task-report__download-raw {
    margin-top: var(--g-spacing-2);
}

.page_embed .task-report {
    margin-top: 0;
    padding-top: 0;
}
