.page-container {
    --page-heading-font-size: var(--g-text-header-2-font-size);
    --page-heading-line-height: 12px;

    --page-heading-height: var(--page-heading-line-height);
    --page-padding-horizontal: var(--g-spacing-3);
    --page-padding-top: var(--g-spacing-4);
    --page-padding-bottom: 40px;

    .page {
        padding: 0 var(--page-padding-horizontal) 0;
        position: relative;

        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .page-footer {
        margin-top: auto;
    }
}

.page-container.page-container_embed {
    .gn-aside-header__content {
        width: 100%;
    }
}
