.page-heading {
    height: calc(var(--page-padding-top) + var(--page-heading-height) + var(--page-padding-top));
    display: flex;
    align-items: center;
}

.page-heading__title {
    font-size: var(--page-heading-font-size);
    margin: 0;
    line-height: var(--page-heading-line-height);
}

.page-heading__link-arrow {
    margin-left: var(--g-spacing-1);
}
